nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;
    padding: 10px 40px;
    overflow: hidden;
    z-index: 9999;
    height: 70px;
    p{
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
    }
}